
.nav-link-hover:hover {
    color: #ff4800 !important; 
}
.custom-card:hover {
    background-color: #ff4800 !important;
  }
  
  .custom-card:hover .icon{
    color: white !important;
  }
  .custom-card:hover .bar {
    background-color: white !important; 
  }
  .custom-card:hover .icon-bg {
    background-color: white !important; 
  }
  
  .custom-card:hover .custom-img {
    content: url('https://www.teamgrowth.info/frontend/assets/images/service-white.png') !important ;
  }  

  /* placeholder */
  .form-control.text-white::placeholder { 
    color: white;
    opacity: 1; 
  }

  .form-control.text-white:-ms-input-placeholder { 
    color: white;
  }

  .form-control.text-white::-ms-input-placeholder { 
    color: white;
  }

  /* btn  */
  .btn-custom-outline {
    font-size: 15px;
    font-weight: 600;
    line-height: unset;
    text-transform: capitalize;
    padding: 13px 32px; 
    transition: .5s;
    position: relative;
    z-index: 1;
    border: 2px solid #ff4800;
    color: #fff;
    display: inline-block;
    background: transparent;
    overflow: hidden; 
  }
  
  .btn-custom-outline:before,
  .btn-custom-outline:after {
    content: "";
    position: absolute;
    background: #ff4800;
    z-index: -1;
    transition: .5s;
  }
  
  .btn-custom-outline:before {
    height: 100%; 
    width: 0;
    top: 0;
    right: 50%; 
  }
  
  .btn-custom-outline:after {
    height: 0; 
    width: 100%;
    left: 50%; 
    bottom: 0;
  }
  
  .btn-custom-outline:hover:before {
    width: 51%; 
    transition: width .5s ease; 
  }
  .btn-custom-outline:hover {
    color: #fff;
    border: 2px solid #ff4800; 
  }
  
  .btn-custom-outline:hover:after {
    height: 100%; 
    transition: height .5s ease .5s; 
  }
  

/* img  */
.dark-img,.dark-img1,.dark-img2 {
  filter: grayscale(100%);
}
.dark-img:hover{
  filter:grayscale(0%);
}
/* / */
.try:hover {
  background-color: #ff4800; 
}

.try:hover .dark-img2 {
  filter: grayscale(0%); 
}
/* Owl Carousel Specific Styles */
.anim .item {
  background-color: #111; 
  padding: 20px;
  text-align: center; 
  position: relative; 
  overflow: hidden; 
}

.anim .item img {
  width: 100%; 
  transition: transform .5s ease, filter .5s ease; 
  filter: grayscale(100%); 
}

.anim .item h4,
.anim .item h6 {
  color: #fff; 
  transition: color .3s ease; 
}


.anim .item:hover img {
  filter: grayscale(0); 
  transform: scale(1.1); 
}

.anim .item:hover h4,
.anim .item:hover h6 {
  color: #ff4800; 
}

.anim .item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ff4800; 
  z-index: 0;
  transition: opacity .5s ease;
  opacity: 0;
}

.anim .item:hover::before {
  opacity: 0.7; 
}

.anim .item img,
.anim .item h4,
.anim .item h6 {
  position: relative;
  z-index: 1;
}
